@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Logic;
@{WagonCollection _wagonCollection = new(); }
@{int wagonNumber = 0;}

<div style="width:350px;">
    @foreach (var wagon in _wagonCollection.GetWagons())
    {
        <div class="mt-5" style="border-radius:10px; background-color:rgb(118 146 255 / 0.35);">
            @if (wagon.Used)
            {
                <div style="padding:5px;">
                    <h3 style="color:green">Wagon @wagonNumber</h3>
                    <h5>Remaining space: @wagon.FreeSpots</h5>

                    <h5 class="mt-3" style="border-bottom:3px solid black; width:250px;">@wagon.GetAnimals().Count() Animal(s) in this Wagon:</h5>

                    <table class="mt-3" style="border-bottom:1px solid black">
                        <tr style="border-bottom:1px solid black">
                            <th>Name</th>
                            <th>Size</th>
                            <th>Diet</th>
                        </tr>

                        @foreach (var animal in wagon.GetAnimals())
                        {
                            <tr>
                                <td style="padding:10px">@animal.Name</td>
                                <td style="padding:10px">
                                    @animal.Size
                                </td>



                                <td style="padding:10px">
                                    @animal.Diet
                                </td>


                            </tr>

                        }
                    </table>
                </div>
                wagonNumber += 1;
                <br>
            }
        </div>
    }
</div>
<div class="col">
    <h4>A total of @wagonNumber Wagon(s) are needed to Transport all Animals</h4>
</div>